# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Databases & SQLite logs
*.db
*.sqlite
*.sqlite3

# PyTorch & Model Checkpoints / Weights
*.pt
*.pth
*.onnx
*.bin
*.h5
*.safetensors

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment / local configs
.env
.env.local

# IDE & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# data
data/*
!data/.gitkeep
!data/projection.npz
!data/projection.json
data/*_keys.json